*{
    font-family:sans-serif;
  }

.menubar{
    width:100%;
    background-color:#00a84f;
    height:60px;
    
    
   
}
.secondbar{
    width: 100%;
    background-color: white;
    height: 80px;
    
    
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
}
ul li{
    float: left;
    margin-top: 20px;
    font-weight: bold;
}

.menubar ul li a{
    width: 100px;
    color: white;
    display: block;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    padding: 5px;

}
.secondbar ul li a{
    width: 100px;
    color: black;
    display: block;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    padding: 5px;
   
}

.menubar ul li a:hover{
      background-color:white;
      color:black;
      
}

.secondbar ul li a:hover{
    color:rgb(91, 38, 190);
    padding-bottom:35px;
    border-bottom: 2px solid #00a84f;
    
}

#background{
      /*background-image: url("https://www.safaricom.co.ke/images/June.jpg?Lo0P=fda06e46ab32bfc42b5b76031d1b450f");*/
      background-repeat:no-repeat;
      background-size: cover;
      /*overflow:auto;
      background-blend-mode:overlay;*/
      /*margin:0; } */ 
      background-repeat:no-repeat;
      background-attachment:fixed;
      content:'';
      width:100%;
      height:100%;
      position:absolute;
      top:0;
      left:0;
      backface-visibility: hidden;
      transform: translatez(0) scale(1.0, 1);
      background-attachment: fixed;
      animation:increase 10s linear 100ms infinite;
      transition: all 0.3s ease-in-out;
      z-index:-2;      

}

@keyframes increase{

     0%{transform:scale(1)}

     100%{transform:scale(1.2)}
}
  
 #search-form{
 
      margin-top:18px;
      margin-right: 5px;
  
}
.combination{
      
    display:flex; 
    justify-content:space-evenly;
    background-color: white;
}
input{	
    border-radius:30px;
    border: 2px solid gray;
    padding: 20px; 
    width: 200px;
    height: 3px; 
}

.promotions, .mobileservices, .shop{
      
    display:flex; 
    justify-content:space-evenly;
      
}
#connected>p>a, #mpesa>p>a, #explore>p>a{
    color:gray;
    text-decoration: none;
}
#seemore{
    color:#00a84f;
    text-underline-position:auto;
}
#masoko,#valentine,#ftth,#samsung,#iphonex,#accessories{
      display:block;
      margin-top:30px;

}
div>h1{
    text-align:center;
}

#iphonex,#accessories{
    text-align:center;
}

  
.personal, .business, .aboutus, .faqs{
    display:block;
  }

.additional{
    display:flex; 
    justify-content:space-evenly;
    background-color: #656565;
}

.white{
    background-color: white;
}

h1,h3{
    color:#39b54a;
}
.white>h1{
    margin-top:50px;
    padding:30px;
}
p{
    color:#656565;
}
.personal>p>a, .business>p>a, .aboutus>p>a, .faqs>p>a{
    color:rgb(255,255,255);
    text-decoration: none;
}
footer{
    display:flex;
    justify-content:flex-start;
    background-color: #656565;
    box-shadow:5px 0 5px grey;
    padding-top: 10px;
}
.faqs>p>a:hover,.personal>p>a:hover,.business>p>a:hover,.aboutus>p>a:hover{
    color:#39b54a;
}
